@import "@styles/variables.scss";

.container {
  max-width: 640px;
  padding: 200px 25px 0;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-top: 110px;
  }
}

.wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 1px 1px rgba($color: #9394a5, $alpha: 0.2);
}
