@import "@styles/mixins.scss";
@import "@styles/variables.scss";

@include container($max-width: 640px, $padding: 0 25px);

.wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 1px 1px rgba($color: #9394a5, $alpha: 0.2);
}
